<div class="slider">
    <!-- <ul> -->
      <li class="badge">ASG</li>
      <li>
        <a href="/detail/11">
          <span class="badge">1. Impact Analysising</span> 
        </a>
      </li>
      <li>
          <a href="ImpHanDir">
            <span class="badge">3. Impact Handling Direction</span> 
          </a>
      </li>
      <li>
          <a href="FixMan">
            <span class="badge">5. Fix Manipulation</span> 
          </a>
        </li>
        <li>
            <a href="FixRep">
              <span class="badge">7. Fix Replay</span> 
            </a>
        </li>
        <li>
            <a href="ImpHanClo">
              <span class="badge">9. Impact Handling Closure</span> 
            </a>
        </li>
    <!-- </ul> -->
   
    <!-- <ul> -->
      <li> <span class="badge">BU</span></li>
      <li>
        <a href="ImpSignOff">
          <span class="badge">2. Impact SignOff</span> 
        </a>
      </li>
    <!-- </ul> -->
    <li> <span class="badge">BA</span></li>
  <!-- <--  <ul> -->
      <li>
        <a href="FixInstr">
          <span class="badge">4. Fix Instruction</span> 
        </a>
      </li>
      <li>
          <a href="FixRep">
            <span class="badge">6. Fix Replaying</span> 
          </a>
        </li>
        <li>
            <a href="DQSignOff">
              <span class="badge">8. DQ SignOff</span> 
            </a>
          </li>
    <!-- </ul> -->
</div>

